body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.ingredients {
    background-color: rgb(202, 186, 218);
    padding: 20px;
}

.instructions {
    background-color: rgb(238, 206, 165);
    padding: 20px;
}

.footer {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.Button{
    display:inline;
    background-color: darkgreen; 
    border-radius: 20px;
    padding:15px;
    margin:12px;
    text-align: center;
    font-size: 30px;
    border: 10px;
    
}
.Button:hover{
    background-color: white; 
    border:3px solid rgb(238, 206, 165);
    cursor: pointer;

}
.Button :link {
    text-decoration: none;
}
