body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.ingredients {
    background-color: rgb(202, 186, 218);
    padding: 20px;
}

.instructions {
    background-color: rgb(238, 206, 165);
    padding: 20px;
}

.footer {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.Button{
    display:flex;
    border-radius: 120px;
    /* width: 50px; */
    text-align: center;
    font-size: 30px;
    border: 5px solid blue;
    

}
.Button:hover{
    background-color: red; 
    color: black;
    /* border: 90px solid blue; */

    
}